body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px;
    background-image: url(bg.jpg);
}

body h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    text-align:center;
    background-color:#bbada3;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 30%;
    
    
}

.quote-display {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color:maroon;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #698dcf;
}
